.parallax-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 30;
}

h1 {
    font-size: 120px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    position: absolute;
    bottom: 20rem;
    z-index: 30;
    animation: animacion 3.5s ease-out;
}

@keyframes animacion {
    0% {
        bottom: 5rem;
        opacity: 0;
    }
    50% {
        bottom: 20rem;
        opacity: 1;
    }
}


/*
CONTAINER-------------------------------------------------
*/

.parallax-effect {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 59rem;
    margin-bottom: 5rem;
    overflow: hidden;
    background-image: linear-gradient(180deg, rgba(1, 0, 15, 1), rgba(15, 23, 42, .3), rgba(15, 23, 42, .7), rgba(6, 182, 212, .3), rgba(6, 182, 212, 1), rgba(1, 0, 15, 1), rgba(1, 0, 15, 1));
}


/*
LAYERS
*/

.layer-1 {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 96.6%;
    z-index: 50;
}





.layer-2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 93.9%;
    height: 86.5%;
    z-index: 40;
}

.layer-3 {
    position: absolute;
    width: 78%;
    bottom: 20%;
    z-index: 30;
}

.layer-4 {
    position: absolute;
    width: 36%;
    left: 36.5%;
    top: 26.6%;
    z-index: 20;
}




.base {
    position: absolute;
    width: 100%;
    height: 83%;
    bottom: -9rem;
    z-index: 60;
}
 


/*
RESPONSIVE
*/
