/*
    GENERAL
*/




.info {
    display: flex;
    width: 50vw;
    min-width: 27rem;
    height: 65rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 33, 240, 0.30);
    backdrop-filter: blur(4px);
    border-radius: 1rem;
    margin: 1vh 0vw 1vh 0vw;
    padding: 1vh;   
    overflow: hidden;
    box-sizing: border-box;
}

.divisor-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    min-width: 20rem;
    height: 18rem;
}

hr {
    width: 35vw;
    min-width: 15rem;
}

.divisor-img {
    width: 12vw;
    min-width: 8rem;
    height: 24vh;
    min-height: 8rem;
    position: absolute;
    left: -13%;
    animation: rotate infinite 5s linear;
}



@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.brand-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 10rem;
    min-width: 5rem;
    gap: 2.5vh;
    margin: 1rem 0rem 1rem 0rem;
}

.brand-line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
}

p{
    font-size: 1.9vh;
    width: 40vw;
    min-width: 20rem;
}





/*
    AJUSTES
*/


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    max-width: 4.3rem;
}

span {
    color: #0C74F0;
}

h2 {
    display: block;
    text-align: center;
    width: 40vw;
    min-width: 18rem;
}

h3 {
    width: 20rem;
    height: 1rem;
    color: #0C74F0;
}