
.parallax_2 {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    margin: 0 auto;    
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgb(7, 6, 36, 1), rgb(7, 6, 36, .3), rgb(0, 183, 255, .5), rgb(0, 183, 255, 1));
}


.tierra-1 {
    position: absolute;
    width: 100%;
    height: 100vh;
    min-height: 70vh;
    background-image: url(../../assets/Parallax_2/tierra-1.png);
    background-size: cover;
    background-position: center;
    z-index: 100;
}

.tierra-2 {
    position: absolute;
    width: 100%;
    height: 100vh;
    min-height: 70vh;
    background-image: url(../../assets/Parallax_2/tierra-2.png);
    background-size: cover;
    background-position: center;
    z-index: 90;
}

.tierra-3 {
    position: absolute;
    width: 100%;
    height: 100vh;
    min-height: 70vh;
    background-image: url(../../assets/Parallax_2/tierra-3.png);
    background-size: cover;
    background-position: center;
    z-index: 80;
}

.tierra-4 {
    position: absolute;
    width: 100%;
    height: 100vh;
    min-height: 70vh;
    background-image: url(../../assets/Parallax_2/tierra-4.png);
    background-size: cover;
    background-position: center;
    z-index: 70;
}

.tierra-5 {
    position: absolute;
    width: 130rem;
    height: 80rem;
    background-image: url(../../assets/Parallax_2/tierra-5.png);
    background-size: cover;
    background-position: center;
    z-index: 110;
    bottom: -36rem;
}


.planeta {
    position: absolute;
    width: 100%;
    height: 70vh;
    background-image: url(../../assets/Parallax_2/planeta.png);
    background-size: cover;
    background-position: center;
    z-index: 60;
}




.parallax-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5vh;
    z-index: 85;
}
h1 {
    display: block;
    text-align: center;
    font-size: 5vw;
    width: 60vw;
    height: 4vh;
    margin: 0;
    bottom: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    position: absolute;
    animation: animacion 4s ease-out;
}


@keyframes animacion {
    0% {
        bottom: -10rem;
        opacity: 0;
    }
    50% {
        bottom: 0rem;
        opacity: 1;
    }
}